@viewport {
    width: device-width;
}

:root {
    --font-size: 16px;
    --h1-size: 5rem;
    --h2-size: 2rem;
    --p-size: 1rem;
    --link-size: 1.3rem;
    --small-size: 0.7rem;
    --link-highlight: #19c2ff;
    --header-padding: 30px;
    --header-height: 260px;
    --primary-shade: #000000;
    --button-shade: #ff9500;
    --secondary-shade: #ffffff;
    --dark-shade: #d69600;
    --footer-height: 18px;
}

canvas {
    border: 1px solid black;
}

body {
    margin: 0;
    overflow: hidden;
}

#landing {
    height: 100%;
    width: 100%;
}
#landing figure {
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

#landing img {
    /* draw image in figure */
    margin: 10% 25%;
    text-align: center;
}

/* a */
a:link {
    text-decoration: none;
    color: inherit;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

/* forms */


form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;
    margin: 0 auto;
    margin-top: 20px;
    padding: 10px;
    background-color: var(--button-shade);
}

label {
    margin-top: 10px;
    font-size: 1em;
}

input:invalid {
    border: 1px solid red;
}

input:valid {
    border: 1px solid green;
}

input {
    border: 1px solid black;
}

input[type="text"], input[type="password"] {
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
}

input[type="submit"] {
    background-color: var(--button-shade);
    border-radius: 5px;
    color: #fff;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
}

input[type="submit"]:hover, header p:hover {
    background-color: var(--dark-shade);
}

/* links / nav */
header {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

header p {
    /* make the links look like buttons */
    background-color: var(--button-shade);
    text-align: center;
    color: white;
    width: 100%;
    padding: 15px 0;
    cursor: pointer;
    margin: 0;
}

/* game */
html, body {
    width:  100%;
    height: 100%;
    margin: 0;
  }

#game {
    overflow: hidden;
}

/* leaderboard */
table {
    text-align: center;
    border-collapse: collapse;
    margin: 20px auto;
    font-size: 1.2em;
    font-family: Arial, sans-serif;
    width: 80%;
    max-width: 800px;
  }
  
table th {
    background-color: var(--button-shade);
    color: white;
    padding: 5px;
    font-weight: bold;
    border: 1px solid white;
}

table td {
    border: 1px solid white;
    padding: 5px;
    color: white;
}

#info {
    color: white;
    text-align: center;
    margin: 20px auto;
    font-size: 1.2em;
    width: 60%;
}
#info a {
    color: red;
}

body p {
    color: white;
    z-index: 2;
    text-align: center;
}