<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>Octane Odyssey</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
    <link rel="icon" href="{{ url_for('static',filename='favicon.ico') }}" />
</head>

<body>
    <header>
        {% if g.user %}
        <p>
            <a href="{{ url_for('home') }}">Home</a>
        </p>
        <p>
            <a href="{{ url_for('game') }}">Octane Odyssey</a>
        </p>
        <p>
            <a href="{{ url_for('logout') }}">Log Out</a>
        </p>
        {% else %}
        <p>
            <a href="{{ url_for('no_log_in') }}">Home</a>
        </p>
        <p>
            <a href="{{ url_for('login') }}">Log In</a>
        </p>
        <p>
            <a href="{{ url_for('register') }}">Register</a>
        </p>
        {% endif %}
    </header>
        {% block main_content %}
        {% endblock %}
    <footer>
        <small>&copy; Web Dev 2, Octane Odyssey</small>
    </footer>
</body>

</html>