<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Octane Odyssey</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
	<script src="{{ url_for('static', filename='game.js')}}" type="module"></script>
</head>

<body>
	<header>
		<p>
			<a href="{{ url_for('home') }}">Home</a>
		</p>
		<p>
			<a href="{{ url_for('game') }}">Octane Odyssey</a>
		</p>
		<p>
			<a href="{{ url_for('logout') }}">Log Out</a>
		</p>
	</header>
	<main id="game">
		<canvas>
		</canvas>
	</main>
</body>

</html>