{% extends "base.html" %}

{% block main_content %}
<main id="leaderboard">
    <p>
        <a href="{{ url_for('home') }}">Home</a>
    </p>
    <p>
        <a href="{{ url_for('game') }}">Octane Odyssey</a>
    </p>
    <p>
        <a href="{{ url_for('logout') }}">Log Out</a>
    </p>
    <script src="{{ url_for('static', filename='leaderboard.js') }}"></script>
    <table>
        <tr>
            <th>Rank</th>
            <th>Username</th>
            <th>Score</th>
        </tr>
        {% for player in leaderboard %}
        <tr>
            <td>{{ player.rank }}</td>
            <td>{{ player.username }}</td>
            <td>{{ player.score }}</td>
        </tr>
        {% endfor %}
    </table>
</main>
{% endblock %}